[user]
	name = Mateo Leal
	email = mateolegi@gmail.com
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
[color "branch"]
	current = green
	remote = yellow
[core]
	editor = code --wait
	# autocrlf = true
	excludesfile = $HOME/.gitignore
	# safecrlf = true
[alias]
	a = add
	ap = add --patch
	bd = branch -d
	bl = branch
	ca = commit -am
	ci = commit -m
	co = checkout
	cp = cherry-pick
	cpa = cherry-pick --abort
	cpc = cherry-pick --continue
	d = diff
	dc = diff --cached
	dt = difftool
	f = fetch --all --prune
	glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	i = init
	last = log -1 HEAD
	local-prune = branch --merged master | grep -v '^[ *]*master$' | grep -v '^[ *]*main$' | xargs git branch -d
	nb = checkout -b
	pl = pull origin
	ps = push origin
	s = status -sb
	sa = stash apply
	sd = stash drop
	sl = stash list
	ss = stash
	st = status
	t = tag
[diff]
	tool = default-difftool
[difftool "default-difftool"]
	cmd = code --wait --diff $LOCAL $REMOTE
[credential]
	helper = cache
